<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tabla Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='inimg/logo2.png') }}"/>
  </head>

  <body>
    {% block contenido %}
    <div class="container p-4">
      <div class="row">
        <div class="col-md-10">
          <h3>Tabla de Categorias</h3>
          <div class="list-group">
            <table>
              <tr>
                <th>Nombre</th>
                <th>Numero</th>
                <th>borrar</th>
              </tr>
              {% for cat in categorias %}
              {% if categorias.nombre==cat.nombre%}
              <tr>
                <td>
                  <a class="list-group-item active" >{{cat.nombre}}</a>
                </td>  
                <td>
                  <a class="list-group-item active" >{{cat.id|string}}</a>
                </td> 
                <td>
                  <a href="{{url_for('categorias_delete',id=cat.id)}}" class="btn btn-primary mt-4"> Borrar</a>
                </td>
                <td>
                  <a href="{{url_for('Categorias_edit',id=cat.id)}}" class="waves-effect waves-light btn">Editar</a>
                </td>
              </tr>
              {% else %}
              <tr>  
                <td>
                  <a class="list-group-item" >{{cat.nombre}}</a>
                </td>
                <td>
                  <a class="list-group-item active" >{{cat.id|string}}</a>
                </td> 
                <td>
                  <a href="{{url_for('categorias_delete',id=cat.id)}}" class="btn btn-primary mt-4"> Borrar</a>
                </td>
                <td>
                  <a href="{{url_for('categorias_edit',id=cat.id)}}" class="waves-effect waves-light btn">Editar</a>
                </td>
              </tr>
              {% endif%}
              {% endfor %}
            </table> 
          </div>
          <br/>
          <a class="waves-effect waves-light btn p-3 mt-3" href="{{url_for('categorias_new')}}" role="button">Nueva categoria</a> 
        </div>
          <div class="col-md-10">
	          <h3>Tabla de Articulos</h3>
	            <div class="panel panel-default">
  			        <table class="table table-bordered">
                  <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>PVP</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                  </tr>
                  {% for art in articulos %}
                  <tr>
                  {% if art.image %}
                    <td><img src="{{art.image}}" width="100px" height="100px"/>
                  {% else %}
                    <td><img src="{{url_for('static',filename='img/not-found.png')}}"/>
                  {% endif %}
                    <td>{{art.nombre}}</td>
                    <td>{{art.descripcion}}</td>
                    <td>{{art.precio|string}}</td>
                    <td>{{art.CategoriaId}}</td>
                    <td><a href="{{url_for('articulos_delete',id=art.id)}}" class="waves-effect waves-light btn"> Borrar</a></td>
                    <td><a href="{{url_for('articulos_edit',id=art.id)}}" class="waves-effect waves-light btn">Editar</a></td>
                  </tr>
                {% endfor %}
  	    	    </table>
            <a class="waves-effect waves-light btn" href="{{url_for('articulos_new')}}" role="button">Nuevo articulo</a>
          </div>
          <div class="text-center p-4"><p><a href="{{url_for('home')}}">Volver al Inicio</a></p></div>
        </div>
      </div>
    </div> 
    {% endblock %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>