<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </head>

    <body>
        {% block contenido %}
        <div class="container">
            <div class="row">
                <h3>Borrar Categoria</h3>  
                <p>¿Estás seguro de borrar la categoría: {{cat.nombre}}</p>
                <form class="form-horizontal"  method="post">
                    <div class="form-group">
                        {{ form.csrf_token }}
                        {{form.borrar(class="btn btn-primary") }} {{form.noborrar(class="btn btn-primary")}}<br/><br/>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>