<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Optica enfoque visual</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{url_for('static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/lightbox/css/lightbox.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <meta name="google-site-verification" content="p-QO24zOntyPwxQFF--_KryuNaRQCdi49YoEsUyHwnM" />
	  <!-- Chatra {literal} -->
    <script>
      (function(d, w, c) {
        w.ChatraID = 'zht7Sticd3iypAC7X';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
      })(document, window, 'Chatra');
    </script>
    <!-- /Chatra {/literal} -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156577937-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-156577937-1');
    </script>

  </head>

  <body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
           </div>
      </div>
   </div>

    <!--header-->
    <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="{{url_for('static', filename='img/logo')}}" alt="" class="img-fluid" width="80px" height="100px"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul class="special">
          <li class="active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#portfolio">Productos</a></li>
          <li><a href="#services">Servicios</a></li>
          <!--<li><a href="#team">Team</a></li>>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>-->
          {% if session["id"] %}
          <li>
            <a href="/perfil/{{ session["username"]}}">perfil</a>
          </li>
          <li>
            <a href="{{url_for('logout')}}">{{ session["username"]}} (Salir)</a>
          </li>
          {%else%}
          <li>
            <a href="{{url_for('login')}}">iniciar sesion</a>
          </li>
          <li>
            <a href="/signup">Registrate</a>
          </li>
          {%endif%}
          {% if session["admin"]==True%}
                  <li>
                    <a href="{{url_for('admintab')}}">admintab</a>
                  </li>
          {%endif%}
          <li><a href="#contact">Encuentranos</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

    <!-- Banner -->
	  <section id="intro" class="clearfix">
        <div class="container">
    
          <div class="intro-img">
            <img src="{{url_for('static', filename='img/orig.png')}}" alt="" class="img-fluid">
          </div>
    
          <div class="intro-info">
            <h2>Optica<br><span>Enfoque Visual</span><br>Somos calidad</h2>
            <div>
              <a href="#about" class="btn-get-started scrollto">¿Quienes somos?</a>
              <a href="#services" class="btn-services scrollto">Nuestros servicios</a>
            </div>
          </div>
    
        </div>
      </section>
      <section id="about">
          <div class="container">
    
            <header class="section-header">
              <h3>Nosotros</h3>
              <p>Atendemos consulta de Optometría,  y  realizamos Brigadas Empresariales de Salud Visual.</p>
            </header>
    
            <div class="row about-container">
    
              <div class="col-lg-6 content order-lg-1 order-2">
                <p>
                    Somos una empresa dedicada a preservar y mejorar la salud visual y ocular del ser humano. Contamos con un reconocido equipo de profesionales de la salud, con experiencias de más de 15 años en el sector, quienes ponen a disposición de la comunidad un servicio amable, responsable, ético y con la más alta calidad.
                    
                    Contamos con consultorios especializados, óptica y consultorio móvil .
                </p>
    
                <div class="icon-box wow fadeInUp">
                  <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                  <h4 class="title"><a href="">Compras faciles</a></h4>
                  <p class="description">Nuestra gama de servicios te permitira adquirir nuestros productos con alta efectividad y velocidad</p>
                </div>
    
                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                  <div class="icon"><i class="fa fa-photo"></i></div>
                  <h4 class="title"><a href="">Hecho a tu medida</a></h4>
                  <p class="description">Según características y necesidades de los usuarios y de acuerdo a descripción de optometría.</p>
                </div>
    
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                  <div class="icon"><i class="fa fa-bar-chart"></i></div>
                  <h4 class="title"><a href="">Personal y empresarial</a></h4>
                  <p class="description">El servicio de optometría aplica para consulta de pacientes  de forma particular, y por contrato o vinculación con empresas y entidades prestadoras de salud (E.P.S.)
                  </p>
                </div>
            </div>
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                <img src="{{url_for('static', filename='img/1.webp')}}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </section><!-- #about -->
       
        <section id="portfolio" class="clearfix">
            <div class="container">
              <!-- portfolio div -->
                      <header class="section-header">
                          <h3 class="section-title">Nuestros Productos</h3>
                        </header>
                      <!-- portfolio_filter -->
                      <div class="row">
                          <div class="col-lg-12">
                              <ul id="portfolio-flters">
                                  <li data-filter="*" class="filter-active">Todo</li>
                                  {% for cat in categorias[1:] %}
              {% if categorias.nombre==cat.nombre%}
              <li data-filter=".filter-{{cat.id}}">{cat.nombre}}</li>
              {% else %}
              <li data-filter=".filter-{{cat.id}}">{{cat.nombre}}</li>
              {% endif%}
              {% endfor %}
                                </ul>
      
                      </div>
                  </div>
              </div>
      
            <!-- portfolio_container -->
            <div class="row portfolio-container">
                {% for art in articulos %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-{{art.CategoriaId}}">
                  <div class="portfolio-wrap">
                      {% if art.image %}
                    <img src="{{url_for('static',filename='img/')}}{{art.image}}" class="img-fluid" alt="">
                    {% endif %} 
                    <div class="portfolio-info">
                      <h4><a href="#">{{art.nombre}}</a></h4>
                      <p>{{art.descripcion}}</p>
                      <p>{{art.precio}}</p>
                      <div>
                        {% if art.image %}
                        <a href="{{url_for('static',filename='img/')}}{{art.image}}" data-lightbox="portfolio" data-title="{{art.nombre}}" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="{{art.wppurl}}" class="link-details" title="More Details" target="_blank"><i class="fa fa-whatsapp"></i></a>
                        {% endif %}   
                      </div>
                    </div>
                  </div>
                   
                </div>
                {% endfor %}
            </div>
          </section>  

        <section id="services" class="section-bg">
            <div class="container">
      
              <header class="section-header">
                <h3>Servicios</h3>
              </header>
      
              <div class="row">
      
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                  <div class="box">
                    <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Examen de optometría</a></h4>
                    <p class="description">Accede a examenes optometricos con la mayor calidad al mejor precio</p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                  <div class="box">
                    <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Suministro de lentes</a></h4>
                    <p class="description">Disfruta nuestros descuentos y servicios para empresa, somos calidad y cantidad</p>
                  </div>
                </div>
      
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                  <div class="box">
                    <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Suministro de monturas con descuento</a></h4>
                    <p class="description">Disfruta nuestros descuentos y servicios para empresa, somos calidad y cantidad</p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                  <div class="box">
                    <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">Adaptacion de lentes de contacto</a></h4>
                    <p class="description">Cambia tu estilo y accede a la mejor calidad en lentes de contacto hechos a tu medida</p>
                  </div>
                </div>
              </div>
            </div>
          </section><!-- #services -->
          <section id="why-us" class="wow fadeIn">
              <div class="container">
                <header class="section-header">
                  <h3>Por que elegirnos? </h3>
                  <p>Elegimos la pasion de darte el mejor servicio y nuestros resultados lo demuestran, nuestros clientes confian en <a href="" style="color: #ff689b;">Enfoque Visual</a></p>
                </header>
        
                <div class="row row-eq-height justify-content-center">
        
                  <div class="col-lg-4 mb-4">
                    <div class="card wow bounceInUp">
                        <i class="fa fa-diamond"></i>
                      <div class="card-body">
                        <h5 class="card-title">Servicio Primium</h5>
                        <p class="card-text">Alta calidad de fabricacion, la mejor atencion, comodidad para tus entregas</p>
                        <a href="#" class="readmore">Conoce mas</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-4 mb-4">
                    <div class="card wow bounceInUp">
                        <i class="fa fa-language"></i>
                      <div class="card-body">
                        <h5 class="card-title">Eficiencia</h5>
                        <p class="card-text">Encuentra la mayor eficencia en el mercado con los precios mas competentes</p>
                        <a href="#" class="readmore">Conoce mas</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-4 mb-4">
                    <div class="card wow bounceInUp">
                        <i class="fa fa-object-group"></i>
                      <div class="card-body">
                        <h5 class="card-title">Integral</h5>
                        <p class="card-text">No solo somos gafas, somos el estilo de tus ojos, con nosotros tienes todo lo que necesitas para tus ojos, facil y rapido</p>
                        <a href="#" class="readmore">Conoce mas</a>
                      </div>
                    </div>
                  </div>
        
                </div>
        
                <div class="row counters">
        
                  <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1000</span>
                    <p>Clientes</p>
                  </div>
        
                  <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">85</span>
                    <p>Campañas</p>
                  </div>
        
                  <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">10</span>
                    <p>Años de experiencia</p>
                  </div>
        
                  <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">100</span>
                    <p>Satisfacion</p>
                  </div>
          
                </div>
        
              </div>
            </section>
            <section id="contact">
                <div class="container-fluid">
          
                  <div class="section-header">
                    <h3>Encuentranos</h3>
                  </div>
          
                  <div class="row wow fadeInUp">
                    <div class="col-lg-6">
                        <h2 class="text-center">Copacabana</h2>
                      <div class="map mb-4 mb-lg-0 p-4">
                        
                      </div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.3416965801717!2d-75.51021107570834!3d6.346527589597774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44256bdf58d8e9%3A0x8e17a55e904c0014!2sCl.%2051%20%2353-52%2C%20Copacabana%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1578594679841!5m2!1ses-419!2sco" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="text-center">Caldas</h2>
                        <div class="map mb-4 mb-lg-0 p-4">
                          <iframe src="www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.2934806759863!2d-75.6397572852315!3d6.0911101955892795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwMDUnMjguMCJOIDc1wrAzOCcxNS4zIlc!5e0!3m2!1ses!2sco!4v1579019891332!5m2!1ses!2sco" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
                        </div>
                      </div>
                      <div class="col-lg-6">
                          <h2 class="text-center">Barbosa</h2>
                          <div class="map mb-4 mb-lg-0 p-4">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1666.9407683767947!2d-75.33134667413643!3d6.435690530658387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44161a88388b41%3A0x1a2ae9e368f4cf37!2sCl.%2013%20%2311-90%2C%20Barbosa%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1578594299501!5m2!1ses-419!2sco" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
                          </div>
                      </div>
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-md-5 info">
                          <i class="ion-ios-location-outline"></i>
                          <p>A108 Adam Street, NY 535022</p>
                        </div>
                        <div class="col-md-5 info">
                            <i class="ion-ios-location-outline"></i>
                            <p>A108 Adam Street, NY 535022</p>
                          </div>
                          <div class="col-md-5 info">
                              <i class="ion-ios-location-outline"></i>
                              <p>A108 Adam Street, NY 535022</p>
                            </div>
                        <div class="col-md-4 info">
                          <i class="ion-ios-email-outline"></i>
                          <p>info@example.com</p>
                        </div>
                        <div class="col-md-3 info">
                          <i class="ion-ios-telephone-outline"></i>
                          <p>+1 5589 55488 55</p>
                        </div>
                      </div>
          
                      <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                          <div class="form-row">
                            <div class="form-group col-lg-6">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                              <div class="validation"></div>
                            </div>
                            <div class="form-group col-lg-6">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validation"></div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                          <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                        </form>
                      </div>
                    </div>
          
                  </div>
          
                </div>
              </section><!-- #contact -->        
      
    <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-4 col-md-6 footer-info">
                <h3>Enfoque Visual</h3>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Contact Us</h4>
                <p>
                  A108 Adam Street <br>
                  New York, NY 535022<br>
                  United States <br>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> info@example.com<br>
                </p>
    
                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
    
              </div>
    
              <div class="col-lg-3 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit"  value="Subscribe">
                </form>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>Airvictus</strong>. Todos los derechos reservados
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
            -->
            este pagina web fue hecha por <a href="https://www.airvictus.com/">Airvictus</a>
          </div>
        </div>
      </footer><!-- #footer -->
    <!--SCRIPTS-->
     <!-- jQuery -->
     <script src="static/lib/jquery/jquery.min.js"></script>
     <script src="static/lib/jquery/jquery-migrate.min.js"></script>
     <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src="static/lib/easing/easing.min.js"></script>
     <script src="static/lib/mobile-nav/mobile-nav.js"></script>
     <script src="static/lib/wow/wow.min.js"></script>
     <script src="static/lib/waypoints/waypoints.min.js"></script>
     <script src="static/lib/counterup/counterup.min.js"></script>
     <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
     <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
     <script src="static/lib/lightbox/js/lightbox.min.js"></script>
     <!-- Contact Form JavaScript File -->
     <script src="static/contactform/contactform.js"></script>
   
     <!-- Template Main Javascript File -->
     <script src="static/js/main.js"></script>
  </body>
</html>
