<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--MAIN CSS-->
    <link rel="shortcut" icon” type="image/ico" href="img/ico.ico"/>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/ionicons/css/ionicons.min.css" rel="stylesheet">
    <noscript><link rel="stylesheet" href="stattic/assets/css/noscript.css"/></noscript>
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <!-- main css -->
    <link href="static/css/style.css" rel="stylesheet">
    <script src="static/js/modernizr.js"></script>
    <title>Airvictus</title>
  </head>

  <body>
    <!--header-->
    <header id="header" class="alt">
      <a class="p-4" href="#"><img src="static/inimg/logo2.png" alt="" width="80px" height="70px"></a>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li>
                    {% if session["id"] %}
                    <a href="/logout"> {{ session["username"]}}(cerrar)</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                  </li>
                  <li>
                    <a href="{{url_for('home')}}">Home <span>(current)</span></a>
                  </li>
                  <li>
                    <a class="nav-link" href="{{url_for("articulos_new")}}">articulos</a>
                  </li>
                  <li>
                    <a href="{{url_for('categorias')}}">categorias</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
    </header>
      <!--/header-->
      <!-- Banner -->
	<section id="banner">
      <div class="inner">
        <h2>airvictus</h2>
        <p>Ropa.<br/>
        calzado.<br/>
              accesorios.</p>
        <ul class="actions special">
                  <li><a href="https://api.whatsapp.com/send?phone=573116206891&text=Me%20gustar%C3%ADa%20Obtener%20informacion%20de%20tus%20productos" target="_blank" class="button primary">Ir a Whatsapp</a></li>
                  <li><a href="https://www.facebook.com/AirVictus-366882804170591/" target="_blank" class="button primary-fa" >ir a Facebook</a></li>
                  <li><a href="https://www.instagram.com/airvictus/" target="_blank" class="button primary-ins" >ir a Instagram</a></li>
        </ul>
      </div>
          <a href="#main-container" class="more scrolly">ver productos</a>
    </section>

    <div class="main-container portfolio-inner clearfix">
        <!-- portfolio div -->
        <div class="portfolio-div">
            <div class="portfolio">
                <!-- portfolio_filter -->
                <div class="categories-grid wow fadeInLeft">
                    <nav class="categories text-center">
                        <ul class="portfolio_filter">
                            {% for cat in categorias %}
                            {% if categorias.nombre==cat.nombre%}
                            <li><a href="{{url_for("home", id=cat.id)}}" data-filter=".{{cat.id}}">{cat.nombre}}</a></li>
                            {% else %}
                            <li><a href= href="{{url_for("home", id=cat.id)}}" data-filter=".{{cat.id}}">{{cat.nombre}}</a></li>
                            {% endif%}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
     <!-- portfolio_container -->
     <div class="no-padding portfolio_container clearfix">
        <!-- single work -->
        {% for art in articulos %}
        <div class="col-md-4 col-sm-6 {{art.CategoriaId}}">
            <a href="{{art.wppurl}}" target="_blank" class="portfolio_item">
                {% if art.image %}
                <img src="{{url_for('static',filename='img/')}}{{art.image}}" alt="image" class="img-responsive"/>
                {% endif %} 
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>{{art.nombre}}</span>
                            <em>pedir por whatsapp</em>
                        </div>
                    </div>
                </div>
            </a>
          </div>
          {% endfor %} 

        <!-- end single work -->
    
    <!--SCRIPTS-->
     <!-- jQuery -->
    <script src="static/js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/menu.js"></script>
    <script src="static/js/animated-headline.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <!--  custom script -->
    <script src="static/js/custom.js"></script>
    <script src="static/assets/js/jquery.scrollex.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>
  </body>
</html>
