<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
  <body>
    
  <div class="container h-100 p-4 mt-3">
    <div class="d-flex justify-content-center">
      <div class="user-card">
          <div class="d-flex justify-content-center">
              <div class="brand_logo_center">
                <img src="{{ url_for('static', filename='inimg/logo2.png') }}" alt=""> 
              </div>
            </div>  
        <div class="d-flex justify-content-center form_container">
          <form action={{url_for("articulos_new")}} method="post" enctype="multipart/form-data">
              {{ form.csrf_token }}
              <h1>Nuevo Articulo</h1>
              <div class="input-group mb-3">
                {{form.nombre(class="form-control", placeholder="Nombre")}}<br/>
              </div>
            <div class="input-group mb-3">
              {{form.precio(class="form-control", placeholder="Precio")}}<br/>
            </div>
            <div class="input-group mb-3" >
              {{form.photo()}}<br/>
            </div>
            <div class="input-group mb-3">
              <br/>{{form.descripcion(class="form-control", placeholder="descripcion")}}<br/>
              </div>
              <div class="input-group mb-3">
                <br/>{{form.wppurl(class="form-control", placeholder="Link de Whatsapp")}}<br/>
              </div>
              <div class="input-group mb-3">
                {{form.CategoriaId(class="form-control")}}<br/>
              </div>
              <div class="d-flex justify-content-center mt-3 login_container">
                {{form.submit(class="btn login_btn")}}
            </div>
            <div class="text-center p-3"><a href="{{url_for('home')}}">volver a la pagina de inicio</a></div>
          </div>  
        </div>    
      </div>
    </div>


   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>